* {
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #161A1D;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: white;
    letter-spacing: 3px;
    margin: 40px 10px 40px;
}

input {
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin: 5px 0px;
    width: 300px;
    padding: 10px 0px;
}

input::placeholder {
    text-align: center;
    font-size: 16px;
}

input[type="submit"] {
    border-radius: 5px;
    background-color: #E5383B;
    transition: 0.3s ease;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #A4161A;
    color: white;
}

img {
    object-fit: cover;
    width: 40%;
    max-width: 250px;
}

.result-container {
    margin: 0 auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
    max-width: 1400px;
}

li {
    max-width: 400px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

h2 {
    margin: 10px 0 25px;
}

.card-content {
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: left;
}

.card-content img {
    width: 90%;
    border-radius: 5px;
}

.card-content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}